// 
// Declarations  
// ========================================================================== 

// 
// Features:
// 

$bare-list-inline--xs:				false !default;
$bare-list-inline--s:				false !default;
$bare-list-inline--m:				false !default;
$bare-list-inline--l:				false !default;
$bare-list-inline--xl:				false !default;
$bare-list-inline--wrap-s:			false !default;
$bare-list-inline--wrap-m:			false !default;

/* 
   #list-inline
   ========================================================================== */

/**
 * The list-inline object creates inline lists.
 *
 * Usage:
 *
 * <ul class="o-list-inline">
 *     <li></li>
 *     <li></li>
 *     <li></li>
 * </ul>
 */

.o-list-inline {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		display: inline-block;
	}
}

// 
// #list-inline--xs
// ========================================================================== 

@if ($bare-list-inline--xs == true) {

	.o-list-inline--xs {
		> li {
			&:not(:first-child) {
				padding-left: bareRem($bare-sp-xs);
			}			
		}
	}

}

// 
// #list-inline--s
// ========================================================================== 

@if ($bare-list-inline--s == true) {

	.o-list-inline--s {
		> li {
			&:not(:first-child) {
				padding-left: bareRem($bare-sp-s);
			}			
		}
	}

}

// 
// #list-inline--m
// ========================================================================== 

@if ($bare-list-inline--m == true) {


	.o-list-inline--m {
		> li {
			&:not(:first-child) {
				padding-left: bareRem($bare-sp-m);
			}			
		}
	}

}

// 
// #list-inline--l
// ========================================================================== 

@if ($bare-list-inline--l == true) {

	.o-list-inline--l {
		> li {
			&:not(:first-child) {
				padding-left: bareRem($bare-sp-l);
			}			
		}
	}

}

// 
// #list-inline--xl
// ========================================================================== 

@if ($bare-list-inline--xl == true) {

	.o-list-inline--xl {
		> li {
			&:not(:first-child) {
				padding-left: bareRem($bare-sp-xl);
			}			
		}
	}

}

// 
// #list-inline--wrap-s
// ========================================================================== 

@if ($bare-list-inline--wrap-s == true) {

	.o-list-inline--wrap-s {
		> li {
			display: block;
		}
	}
	
	@media (min-width: bareEm($bare-bp-s)) {
		.o-list-inline--wrap-s {
			> li {
				display: inline-block;
			}
		}
	}
	
}

// 
// #list-inline--wrap-m
// ========================================================================== 

@if ($bare-list-inline--wrap-m == true) {

	.o-list-inline--wrap-m {
		> li {
			display: block;
		}
	}
	
	@media (min-width: bareEm($bare-bp-m)) {
		.o-list-inline--wrap-m {
			> li {
				display: inline-block;
			}
		}
	}
	
}
